fastapi
uvicorn[standard]
python-multipart
stripe
langchain-experimental
tabulate
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
pandas
openpyxl
unstructured
markdown
openai
tiktoken
python-dotenv
pytest
